.svn/
.vs/
*.csproj
*.sln
*.vsconfig
*.keystore
/Bundles/
/Library/
/Logs/
/Temp/
/obj/
/UserSettings/
/ProjectSettings/
/WebData.txt
Assets/AddressableAssetsData/
Assets/AddressableAssetsData.meta
Assets/TapSDK/
Assets/TapSDK.meta
Assets/GameAssets/LocalAssets/WebData.bin
Assets/GameAssets/LocalAssets/WebData.bin.meta
